<po-page-list
    [p-breadcrumb]='breadcrumb'>
    <div class="sample-container">
    
    <po-loading-overlay 
        [hidden]="escondeTimer"
    ></po-loading-overlay>

    </div>
    <div class='wrapper'>
        <po-widget>
            <div class="po-row">

                <po-checkbox 
                    class= 'po-p-2'   
                    p-label="Pendente"    
                    [(ngModel)]="filtros.Pendente" 
                ></po-checkbox>

                <po-checkbox 
                    class= 'po-ml po-m-2'   
                    p-label="Reenvio"     
                    [(ngModel)]="filtros.Reenvio" 
                ></po-checkbox>

                <po-checkbox 
                    class= 'po-ml po-m-2'   
                    p-label="Enfileirado" 
                    [(ngModel)]="filtros.Enfileirado" 
                ></po-checkbox>

                <po-checkbox 
                    class= 'po-ml-1 po-m-2'   
                    p-label="Erro"        
                    [(ngModel)]="filtros.Erro" 
                ></po-checkbox>

                <po-checkbox 
                    class= 'po-ml po-m-2'   
                    p-label="Enviado"     
                    [(ngModel)]="filtros.Executado" 
                ></po-checkbox>

                <po-checkbox 
                    class= 'po-ml-1.5 po-m-2' 
                    p-label="Sem E-mail"  
                    [(ngModel)]="filtros.SemEmail" 
                ></po-checkbox>
                
                <div class="po-m-2"></div>

                <po-button #btAtualiza
                    p-kind="primary"
                    p-label="Atualiza"
                    p-icon="po-icon-refresh"
                    (p-click)="atualizarDados()"
                ></po-button>

                <div class="po-m-1"></div>

                <po-button #Relatorio
                    p-label="Gerar Relatorio"
                    (p-click)="geraRelatorio()"
                ></po-button>	

                <div class="po-m-1"></div>

                <po-button #ReenviaEmail
                    p-label="Reenviar E-Mail"
                    (p-click)="reenviaEmail()"
                ></po-button>	

            </div>
            
            <div class="po-row">
                <po-datepicker
                    class="po-md-2"
                    p-label="Data Inicial"
                     p-format="dd/mm/yyyy"
                    [(ngModel)]="filtros.PeriodoIni"
                ></po-datepicker>

                <!--input type="date" class="po-input po-datepicker-range-input" [(ngModel)]="filtros.PeriodoIni"-->
             
                <po-datepicker
                    class="po-md-2"
                    p-label="Data Final"
                    p-format="dd/mm/yyyy"
                    [(ngModel)]="filtros.PeriodoFim"
                ></po-datepicker>

                <div class="po-m-1"></div>

                <po-input
                    class="po-md-2"
                    p-label="Estabelecimento"
                    [(ngModel)]="filtros.Estabelec"
                ></po-input>

                <div class="po-m-1"></div>

                <po-input
                    class="po-md-2"
                    p-label="Serie"
                    [(ngModel)]="filtros.Serie"
                ></po-input>

                <div class="po-m-1"></div>
                <po-input
                    class="po-md-2"
                    p-label="Nota Fiscal"
                    [(ngModel)]="filtros.NotaFiscal"
                ></po-input>

                <po-input
                    class="po-md-1"
                    p-label="Tam.Pagina"
                    [(ngModel)]="filtros.pageSize"
                ></po-input>
            </div>
        </po-widget >

        <po-table
            #IdTable
            [p-auto-collapse]="true"
            [p-columns]="cuf0069Colunas"
            [p-hide-columns-manager]="false"
            [p-hide-table-search]="false"
            [p-hide-detail]="false"
            [p-actions]="maisOpcoes"
            [p-items]="cuf0069Itens"
            [p-sort]="true"
            [p-striped]="true"
            (p-selected)="selecaoReenvio($event, 'new')"
            (p-unselected)="selecaoReenvio($event, 'change')"
            (p-all-selected)="selecaoReenvioAll()"
            (p-all-unselected)="selecaoReenvioUnSelectAll()"
            [p-selectable]="true"
            [p-hide-select-all]="false"
            p-container="shadow"
            p-striped="true"
            (p-height)="20"
            (p-show-more)="showMore()"
            [p-show-more-disabled]="! hasMore$"
            p-infinity-scroll="false"
            [p-infinite-scroll-distance]=90
        >
        </po-table>
    </div>

    <po-modal
        p-title="LOG DE CONSULTA RPA" #ModalRPA>
        <po-table
            [p-columns]="colunasRPA"
            [p-items]="itensRPA"
            p-infinity-scroll="true"
            [p-hide-columns-manager]="true"
            [p-hide-table-search]="true"
            [p-hide-detail]="true"
        ></po-table>
    </po-modal>

    <po-modal
        p-title="LOG DE API E-Mail" #ModalAPI>
        <po-table
            [p-columns]="colunasAPI"
            [p-items]="itensAPI"
            p-infinity-scroll="true"
            [p-hide-columns-manager]="true"
            [p-hide-table-search]="true"
            [p-hide-detail]="true"
        ></po-table>
    </po-modal>
    
</po-page-list>